/*****************************************************************************
 *  FILE:  anytime.css - The Any+Time(TM) JavaScript Library (stylesheet)
 *
 *  VERSION: 5.0.3
 *
 *  Copyright 2008-2014 Andrew M. Andrews III (www.AMA3.com). Some Rights
 *  Reserved. This work licensed under the Creative Commons Attribution-
 *  Noncommercial-Share Alike 3.0 Unported License except in jurisdicitons
 *  for which the license has been ported by Creative Commons International,
 *  where the work is licensed under the applicable ported license instead.
 *  For a copy of the unported license, visit
 *  http://creativecommons.org/licenses/by-nc-sa/3.0/
 *  or send a letter to Creative Commons, 171 Second Street, Suite 300,
 *  San Francisco, California, 94105, USA.  For ported versions of the
 *  license, visit http://creativecommons.org/international/
 *
 *  Alternative licensing arrangements may be made by contacting the
 *  author at http://www.AMA3.com/contact/
 *
 *  This file provides default styling for the Any+Time JavaScript Library's
 *  calendar widget.  The styles within can be overridden to customize the
 *  picker's appearance for a particular platform.  jQuery UI styles (such
 *  as those created by jQuery ThemeRoller) will override the styles in this
 *  stylesheet.
 *
 *  The Any+Time(TM) styles and code in anytime.js have been tested (but not
 *  extensively) on the following Windows platforms:
 *    IE 8 (XP)
 *    IE 11 (8.1)
 *    Firefox 26
 *    Chrome 31
 *
 *  Any+Time is a trademark of Andrew M. Andrews III.
 ****************************************************************************/

 /* The following styles ascertain that the types of elements used by
 *  our picker have reasonable styles, especially font, font-size,
 *  list-style-type, margin and padding.
 */

.AnyTime-pkr *
{
    border:0;
    font: inherit;
    font-size: x-small;
    font-style:normal;
    font-weight:normal;
    list-style-type:none;
    margin:0;
    padding:0;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*  .AnyTime-win simulates a "window" that might be a popup or inline.
 */

.AnyTime-win
{
  background-color:#F0F0F1;
  border:3px solid #C0C0C0;
  display:inline-block;
  font:normal normal normal xx-small/normal sans-serif;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}

.AnyTime-pkr,
.AnyTime-pkr *
{
  text-align:center;
}

/*  .AnyTime-cloak covers an AnyTime-pkr whenever an AnyTime-yr-selector
 *  is placed over it.  The picker cannot be accessed until the
 *  AnyTime-yr-selector has been dismissed (possibly by clicking the
 *  AnyTime-cloak).
 */

.AnyTime-pkr .AnyTime-cloak
{
  background-color:#D7D7D7;
  opacity:0.7;
  position:absolute;
  filter:alpha(opacity=70);
}

/*  .AnyTime-hdr is the title bar at the top of a "window." In addition to
 *  the title label, the title bar for popup (non-inline) pickers also
 *  contains .AnyTime-x-btn.
 */

.AnyTime-pkr .AnyTime-hdr
{
  background-color:#D0D0D1;
  color:#606062;
  font-family:Arial,Helvetica,sans-serif;
  font-size:medium;
  font-weight:normal;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}

/*  .AnyTime-x-btn is a pseudo-button that, when clicked, causes the entire
 *  picker to disappear (the picker also disappears if the user clicks
 *  almost anywhere off of it, or presses ESC).
 */

.AnyTime-pkr .AnyTime-x-btn
{
  background-color:#FCFCFF;
  border:1px solid #F99;
  color:#FF9F9F;
  cursor:default;
  float:right;
  margin:0.25em 0.25em 0 0;
  width:1.5em;
  -moz-border-radius:0.4em;
  -webkit-border-radius:0.4em;
  border-radius:0.4em;
}

/*  .AnyTime-btn is a pseudo-button for selection of a format field value.
 */

.AnyTime-pkr .AnyTime-btn
{
  background-color:#FCFCFE;
  border:1px solid #999;
  color:#606062;
  cursor:default;
  font-family:Arial,Helvetica,sans-serif;
  margin: 0 0.1em 0.1em 0;
  padding: 0.2em 0.3em 0.2em 0.3em;
  -moz-border-radius:0.1em;
  -webkit-border-radius:0.1em;
  border-radius:0.1em;
}

/*  .AnyTime-body contains everything in thee picker except the title bar.
 */

.AnyTime-pkr .AnyTime-body
{
  margin:0 1em 1em 0;
}

/*  .AnyTime-date contains all content (labels and pseudo-buttons) for selecting
 *  a date (or part thereof).
 */

.AnyTime-pkr .AnyTime-date
{
  display:inline-block;
  margin-left:1em;
  vertical-align:top;
}

/*  .AnyTime-lbl headings appear before each group of pseudo-buttons for a
 *  particular format field.  Each specific label has a class, also.
 */

.AnyTime-pkr .AnyTime-lbl
{
  color:#606063;
  font-family:Arial,Helvetica,sans-serif;
  font-size:100%;
  font-weight:normal;
  font-style:normal;
  margin-top:0.8em;
}

/*
 *  .AnyTime-yrs contains the year-selection pseudo-buttons.
 */

.AnyTime-pkr .AnyTime-yrs
{
  width:20em;
}

/*
 *  Following are classes for the pseudo-buttons within .AnyTime-yrs
 */

.AnyTime-pkr .AnyTime-yrs-past-btn,
.AnyTime-pkr .AnyTime-yrs-ahead-btn
{
  display:inline-block;
  width:2.4em;
}

.AnyTime-pkr .AnyTime-yr-prior-btn,
.AnyTime-pkr .AnyTime-yr-cur-btn,
.AnyTime-pkr .AnyTime-yr-next-btn
{
  display:inline-block;
  width:4.8em;
}

/*  .AnyTime-mons contains the month-selection pseudo-buttons.
 */

.AnyTime-pkr .AnyTime-mons
{
  width: 20em;
}

.AnyTime-pkr .AnyTime-mons:after
{
  content: "";
  display: table;
  clear: both;
}


/*  .AnyTime-mon-btn is for the pseudo-buttons within .AnyTime-mons
 *  Each pseudo-button also has a class of its own.
 */

.AnyTime-pkr .AnyTime-mon-btn
{
  float:left;
  width:3.2em;
}

.AnyTime-pkr .AnyTime-mon7-btn
{
  clear:left;
}


/*  .AnyTime-dom-table is the table containing days-of-the-month.
 *  .AnyTime-dom-head is the table heading, containing days-of-the-week labels.
 *  tr.AnyTime-dow is the row in the heading.
 *  td.AnyTime-dow is a column heading; each heading has its own class, also.
 *  .AnyTime-dom-body is the table heading, containing days-of-the-week labels.
 *  .AnyTime-wk is a table row, containing pseudo-buttons for days.
 *  Each week has its own class (.AnyTime-wk***), also.
 */

.AnyTime-pkr .AnyTime-dom-table
{
  background-color:#F0F0F1;
  border:1px solid #E3E3E4;
  border-spacing:1px;
  width:20em;
}

.AnyTime-pkr th.AnyTime-dow
{
  background-color:#C0C0C1;
  color:white;
  font-family:Arial,Helvetica,sans-serif;
  font-size:95%;
  font-weight:normal;
  font-style:normal;
  padding: 0.1em 0.3em;
}

/*  .AnyTime-dom-btn is a pseudo-button for a day-of-the-month.
 *  .AnyTime-dom-btn-filled is a button containing a specific day-of-the-month.
 *  .AnyTime-dom-btn-empty is a button for an empty cell (no day-of-the-month).
 *  .AnyTime-dom-btn-empty-above-filled is an empty button above a filled button.
 *  .AnyTime-dom-btn-empty-before-filled is empty, left of a filled button.
 *  .AnyTime-dom-btn-empty-after-filled is empty, right of a filled button.
 *  .AnyTime-dom-btn-empty-below-filled is empty, below a filled button.
 */

.AnyTime-pkr .AnyTime-dom-btn
{
  text-align:right;
  padding-right:0.5em;
}

.AnyTime-pkr .AnyTime-dom-btn-empty,
.AnyTime-pkr .AnyTime-min-ten-btn-empty,
.AnyTime-pkr .AnyTime-min-one-btn-empty,
.AnyTime-pkr .AnyTime-sec-ten-btn-empty,
.AnyTime-pkr .AnyTime-sec-one-btn-empty
{
    background-color:#F3F3F4;
    border:1px solid #C0C0c1;
}

/*  .AnyTime-time contains all content (labels and pseudo-buttons) for selecting
 *  a time (or part thereof).
 */

.AnyTime-pkr .AnyTime-time,
.AnyTime-pkr .AnyTime-hrs-am,
.AnyTime-pkr .AnyTime-hrs-pm,
.AnyTime-pkr .AnyTime-mins-tens,
.AnyTime-pkr .AnyTime-mins-ones,
.AnyTime-pkr .AnyTime-secs-tens,
.AnyTime-pkr .AnyTime-secs-ones
{
  display:inline-block;
}

/*  .AnyTime-hrs contains two columns (.AnyTime-hrs-am and .AnyTime-hrs-pm) of
 *  pseudo-buttons for selecting hours.
 */

.AnyTime-pkr .AnyTime-hrs,
.AnyTime-pkr .AnyTime-mins,
.AnyTime-pkr .AnyTime-secs,
.AnyTime-pkr .AnyTime-offs
{
  display:inline-block;
  margin-left:1em;
}

/*  .AnyTime-hr-btn is a pseudo-button for selecting an hour.
 *  Each button also has a style of its own.
 */

.AnyTime-pkr .AnyTime-hr-btn
{
  text-align:right;
  width:3.5em;
}

/*  .AnyTime-mins contains two columns (.AnyTime-mins-tens and .AnyTime-mins-ones)
 *  of pseudo-buttons for selecting minutes.
 *
 *  .AnyTime-min-ten-btn is a button in the .AnyTime-mins-tens column.
 *  .AnyTime-min-one-btn is a button in the .AnyTime-ones-tens column.
 *  Each button also has its own style.
 */

.AnyTime-pkr .AnyTime-min-ten-btn,
.AnyTime-pkr .AnyTime-min-one-btn
{
  width:2em;
}

/*  .AnyTime-secs contains two columns (.AnyTime-secs-tens and .AnyTime-secs-ones)
 *  of pseudo-buttons for selecting seconds.
 *
 *  .AnyTime-sec-ten-btn is a button in the .AnyTime-secs-tens column.
 *  .AnyTime-sec-one-btn is a button in the .AnyTime-ones-tens column.
 *  Each button also has its own style.
 */

.AnyTime-pkr .AnyTime-sec-ten-btn,
.AnyTime-pkr .AnyTime-sec-one-btn
{
  width:2em;
}

/*  .AnyTime-offs contains the UTC offset (timezone) selection pseudo-buttons.
 *  The two buttons have their own styles
 */

.AnyTime-pkr .AnyTime-off-cur-btn
{
  display:inline-block;
  overflow: hidden;
}

.AnyTime-pkr .AnyTime-off-select-btn
{
  display:inline-block;
  vertical-align: top;
  width:2em;
}

/*  .AnyTime-yr-selector is an overlay (popup) for selecting a specific year.
 *  The picker attempts to size the overlay automatically, based on
 *  whether "era" buttons are displayed.
 *
 *  AnyTime-hdr-yr-selector is its title bar.
 *  AnyTime-body-yr-selector is its body.
 *
 *  .AnyTime-yr-mil is the column of millenium-selector pseudo-buttons.
 *  .AnyTime-yr-cent is the column of century-selector pseudo-buttons.
 *  .AnyTime-yr-dec is the column of decade-selector pseudo-buttons.
 *  .AnyTime-yr-yr is the column of year-selector pseudo-buttons.
 *
 *  .AnyTime-mil-btn is a millenium-selector button.
 *  .AnyTime-cent-btn is a century-selector button.
 *  .AnyTime-dec-btn is a decade-selector button.
 *  .AnyTime-yr-btn is a year-selector button.
 *  Each button has its own class, also.
 *
 *  .AnyTime-yr-era contains the column of era-selection pseudo-buttons.
 *  Each era button has class .AnyTime-era-btn as well as its own class.
 */

.AnyTime-pkr .AnyTime-yr-selector
{
  position:absolute;
}

.AnyTime-pkr .AnyTime-body-yr-selector
{
  margin:0.8em 1em;
}

.AnyTime-pkr .AnyTime-yr-mil,
.AnyTime-pkr .AnyTime-yr-cent,
.AnyTime-pkr .AnyTime-yr-dec,
.AnyTime-pkr .AnyTime-yr-yr,
.AnyTime-pkr .AnyTime-yr-era
{
  display:inline-block;
  vertical-align:top;
}

.AnyTime-pkr .AnyTime-mil-btn,
.AnyTime-pkr .AnyTime-cent-btn,
.AnyTime-pkr .AnyTime-dec-btn,
.AnyTime-pkr .AnyTime-yr-btn
{
  width:2em;
}

.AnyTime-pkr .AnyTime-era-btn
{
  margin-left:1em;
}


/*  .AnyTime-off-selector is an overlay (popup) for selecting a specific year.
 *  The picker attempts to size the overlay automatically.
 *  .AnyTime-hdr-off-selector is its title bar.
 *  .AnyTime-body-off-selector is its body.
 *  .AnyTime-off-off is the column of offset-selector pseudo-buttons.
 *  .AnyTime-off-off-btn is an offset-selector pseudo-button.
 *  .AnyTime-off-off-last-btn is the last offset-selector pseudo-button.
 */

.AnyTime-pkr .AnyTime-off-selector
{
  margin:1em 2em;
  position:absolute;
}

.AnyTime-pkr .AnyTime-body-off-selector
{
  margin:0.8em 1em;
  overflow-x:hidden;
  overflow-y:auto;
  white-space:nowrap
}

.AnyTime-pkr .AnyTime-off-off-btn
{
  text-align:left;
}

/*  .AnyTime-cur-btn is applied to every pseudo-button that represents
 *  a currently-selected value.  They should stand out from the other
 *  buttons, using a different background-color, border, color, font,
 *  font-style and/or font-weight.  Note that color alone is not
 *  sufficient for color-blind users to differentiate the buttons.
 */

.AnyTime-pkr .AnyTime-cur-btn
{
  border:1px solid #333334;
  background-color:#C0C0C1;
  color:#FCFCFE;
  font-weight:bold;
}

/*  .AnyTime-out-btn is applied to every pseudo-button that represents
 *  a value that should not be selected because it would make the value.
 *  out-of-range.  Typically, this is to give it a "grayed-out" appearance.
 *  Note that color alone is not sufficient for color-blind users to
 *  differentiate the buttons, but since there's no harm in pressing these
 *  buttons, it's probably no big deal.
 */

.AnyTime-pkr .AnyTime-out-btn
{
    background-color:#F0F0F1;
    border:1px solid #C0C0c1;
}

/*  .AnyTime-focus-btn is applied to the single pseudo-button that appears to
 *  have keyboard focus.  It should stand out from all other buttons,
 *  using a different background-color, border, color, font, font-style
 *  and/or font-weight.  Note that color alone is not sufficient for
 *  color-blind users to differentiate the button.  Because most UIs
 *  represent focus using a dashed or dotted border, this is recommended.
 */

.AnyTime-pkr .AnyTime-focus-btn
{
  border:1px dashed black;
}

/*
 *  END OF FILE
 */
