table.detail-view .null
{
    color: pink;
}

table.detail-view
{
    background: white;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

table.detail-view th, table.detail-view td
{
    font-size: 12px;
    border: 1px #ccc solid;
    padding: 5px 10px;
    vertical-align: top;
}

table.detail-view th
{
    text-align: right;
    width: 160px;
}

table.detail-view tr.odd
{
    /*background:#E5F1F4;*/
    background: #f9f9f9;
}

table.detail-view tr.even, table.detail-view tr.even td
{
    /*background:#F8F8F8;*/
    background: #fff;
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}