#task-list {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    width: 500px;
}

#task-list li {
    background: url("bg.jpg");
    height: 100px;
    width: 500px;
}

.task-list-header,
.task-list-body {
    padding: 5px 20px;
}

.task-list-header {
    line-height: 30px;
}

.task-list-title {
    color: #6b4110;
    float: left;
    font-family: Calibri;
    font-size: 1.7em;
    font-weight: bold;
    width: 360px;
}

.task-list-date {
    color: #6b4110;
    display: block;
    float: right;
    font-size: 1em;
    font-style: italic;
    text-align: right;
    width: 100px;
}
.task-list-date.caution {
    color: #ff2956;
}

.task-list-body {
    padding: 0 20px 10px;
}

.task-list-remark {
    color: #70410a;
    float: left;
    height: 50px;
    width: 360px;
}

.task-list-action {
    float: left;
    margin-top: 3px;
    width: 100px;
}

.task-list-action a {
    background: url("button.jpg");
    color: #834d10;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}